@import url("https://fonts.google.com/specimen/Red+Hat+Display");
@import "variables";
body {
  font-family: "Red Hat Display", sans-serif, serif;
  background-color: $Pale-blue;
  color: $Desaturated-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95dvh;
}
main {
  text-align: center;
  width: min(95%, 380px);
  border-radius: 22px;
  background-color: white;
  overflow: hidden;
  > img {
    width: 100%;
  }
  h1 {
    font-size: 1.6rem;
    font-weight: 900;
  }

  h1,
  strong {
    color: $Dark-blue;
  }
  > section {
    width: 85%;
    margin: auto;
  }

  .annual-plan-container {
    background-color: $Very-pale-blue;
    border-radius: 12px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 26px auto;
    div {
      width: 90%;
      height: 65%;
      display: grid;
      grid-template-columns: 50px 1fr 60px;
      gap: 5%;

      section {
        display: grid;
        justify-content: center;
        align-items: center;

        height: 100%;
        font-size: 0.9rem;

        &:nth-child(2) {
          justify-content: start;
        }
        &:last-child {
          a {
            &:hover {
              opacity: 0.7;
            }
            color: $Bright-blue;
            font-weight: 700;
          }
        }
      }
    }
  }
}

button {
  border-radius: 13px;
  border: transparent;
  height: 50px;
  width: 90%;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}
button:first-of-type {
  &:hover {
    opacity: 0.8;
  }

  background-color: $Bright-blue;
  color: $Very-pale-blue;
  box-shadow: 0 12px 20px hsl(0, 3%, 79%);
}
button:last-of-type {
  &:hover {
    color: $Dark-blue;
  }

  background-color: transparent;
  color: $Desaturated-blue;
  height: 40px;
  width: 45%;
  margin: 25px auto;
}
